:root {
    --color-main: #f0f9ff;
    --height-add-task: 32px;
    --font-size-add-task: 18px;
}

#main {
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: var(--width-side-bar);
    padding: 50px 100px;

    background-color: var(--color-main);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title {
    font-size: 24px;
}

.project {
    background-color: var(--color-side-bar);
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid grey;
}

.project-task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    background-color: var(--color-main);
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
}

.task:hover {
    box-shadow: 0 0 10px var(--color-brand);
}

.high {
    border-left: 5px solid red;
}

.medium {
    border-left: 5px solid orange;
}

.medium {
    border-left: 5px solid green;
}

.add-task-wrapper {
    height: var(--height-add-task);
}

.add-task {
    height: var(--height-add-task);
    background-color: transparent;
    color: var(--color-brand);
    border: none;
    padding: 5px 10px;
    font-size: var(--font-size-add-task);
    font-style: italic;
}

.add-task:hover {
    cursor: pointer;
}

.add-task:active {
    font-size: calc(var(--font-size-add-task) - 1px);
}

/* DIALOG */
::backdrop {
    background-color: black;
    opacity: 25%;
}

input,
select {
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--color-side-bar);
    padding: 0 1rem;
}

#dialog-add-task {
    border: none;
    box-shadow: 0 0 10px var(--color-brand);
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input,
.select {
    display: flex;
    flex-direction: column;
}
