#main {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 50px 100px;

    background-color: var(--color-main);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title {
    font-size: 24px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid grey;
}
