:root {
    --color-main: #f0f9ff;
}

#main {
    box-sizing: border-box;
    min-height: 100vh;
    margin-left: var(--width-side-bar);
    padding: 50px 100px;

    background-color: var(--color-main);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title {
    font-size: 18px;
}

.project {
    background-color: var(--color-side-bar);
    border-radius: 10px;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid grey;
}

.project-task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    background-color: var(--color-main);
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    box-shadow: 0 0 10px var(--color-brand);
}

.high {
    border-left: 5px solid #ef4444;
}

.medium {
    border-left: 5px solid #eab308;
}

.low {
    border-left: 5px solid #22c55e;
}

.info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    height: fit-content;
    border: none;
    background-color: transparent;
}

.option > img {
    display: flex;
}

.add-task-wrapper {
    height: var(--height-add-task);
}

.add-task {
    height: 1.5rem;
    background-color: transparent;
    color: var(--color-brand);
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-style: italic;
}

.add-task:hover {
    cursor: pointer;
    text-shadow: 0 0 5px var(--color-brand);
}

.add-task:active {
    font-size: calc(1rem - 1px);
}

/* DIALOG */
::backdrop {
    background-color: black;
    opacity: 25%;
}

input,
select {
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--color-side-bar);
    padding: 0 1rem;
}

#dialog-add-task {
    border: none;
    box-shadow: 0 0 10px var(--color-brand);
    border-radius: 10px;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-add-task {
    display: flex;
    gap: 10px;
}

.input,
.select {
    display: flex;
    flex-direction: column;
}

#btn-task-add {
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    margin-left: 1rem;

    background-color: var(--color-brand);
    color: white;
    border: none;
    border-radius: 1rem;

    align-self: flex-end;
}

#btn-task-add:hover {
    box-shadow: 0 0 10px var(--color-brand);
}

#close-wrapper {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

#btn-task-close {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 18px;
}

#btn-task-close:hover {
    text-shadow: 0 0 10px red;
}

#btn-task-close:active {
    text-shadow: 0 0 1px red;
    font-size: 17px;
}
