#side-bar {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px;

    background-color: var(--color-side-bar);
    box-shadow: 0 0 10px grey;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#brand > img {
    height: 48px;
}

#brand {
    color: var(--color-brand);
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 10px;
}

#menu {
    display: grid;
    gap: 10px;
}

#menu > li {
    height: 2rem;
    border-radius: 10px;
    padding-left: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

#menu > li > img {
    height: 24px;
}

#menu > li:hover,
#menu > li.active {
    cursor: pointer;
    background-color: var(--color-select);
    color: var(--color-brand);
    font-weight: bold;
}

#menu > li.active {
    font-style: italic;
}
