@font-face {
    font-family: 'Varela Round';
    src: url(../font/VarelaRound-Regular.ttf);
}

:root {
    --font-content: 'Varela Round';
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#content {
    font-family: var(--font-content);
}
